<?xml version='1.0' encoding='UTF-8'?>
<gupdate xmlns='http://www.google.com/update2/response' protocol='2.0'>
  <app appid='egoppdngdcoikeknmbgiakconmchahhf'><!-- Chrome用アドオンのIDを書く -->
    <updatecheck codebase='file:///C:/Users/Public/webextension/chrome.crx' version='CHROME_WEBEXT_VERSION' /><!-- `chrome.crx` の実際のFile URLを書く -->
  </app>
  <app appid='oapdkmbdgdcjpacbjpcdfhncifimimcj'><!-- Edge用アドオンのIDを書く -->
    <updatecheck codebase='file:///C:/Users/Public/webextension/edge.crx' version='EDGE_WEBEXT_VERSION' /><!-- `edge.crx` の実際のFile URLを書く -->
  </app>
</gupdate>
